<a href="<%= conversation_path(conversation)%>" class="conversation_link">
<div class="media">
  <div class="media-left">
      <% if conversation.originator.avatar %>
        <img class="media-object" src=<%= conversation.originator.avatar %> alt="프로필 사진">
      <% else %>
        <img class="media-object" src="https://placehold.it/64x64" alt="...">
      <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.originator.name %><br>
      
      <small><strong>작성날짜:</strong> <%= conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p")%></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>

  </div>
</div>
</a>
