<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <% if conversation.originator.avatar %>
          <img class="media-object" src=<%= conversation.originator.avatar %> alt="프로필 사진">
        <% else %>
          <img class="media-object" src="https://placehold.it/64x64" alt="...">
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= message.sender.name %> <br>
          <small><a href="<%= message.subject %>">링크</a></small><br>
          <small><strong>작성날짜:</strong> <%= message.created_at.strftime("%A, %b %d, %Y at %I:%M%p")%></small>
        </h4>
        <%= message.body %>
      </div>
    </div>
<% end %>