<div class="row">

    <div class="col-md-12 col-sm-12 text-right">
      <% if conversation.is_trashed?(current_user) %>
        <%= link_to '복구', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
      <% else %>
        <%= link_to '휴지통으로', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post, data: {confirm: "정말 삭제 하시겠습니까?"}%>
      <% end %>
    </div>
    <div class="spacer"></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
      
      <div class="panel-footer">
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
          <div class="form-group">
            <%= f.text_area :body,  placeholder: "답장하기", rows: 4, class: "form-control" %>
          </div>
          <%= f.submit "답장", class: "btn btn-danger pull-right" %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>