<% obj.each do |demand| %>
	
	<% if demand.gender == "남자" %>
		<a href=<%= demand_path(demand) %> class="a_demand">
			<div class="col-sm-4">
			  <div class="panel panel-info">
			    <div class="panel-heading">
			      <h3 class="panel-title">남자</h3>
			    </div>
			    <div class="panel-body">
			      <p>최대가격 : $<%= demand.price %></p>
			      <p>기간 : <%= demand.start_date.to_s.at(5..6)%>월 <%= demand.start_date.to_s.at(0..3)%> 
  						~<%= demand.finish_date.to_s.at(5..6)%>월 <%= demand.finish_date.to_s.at(0..3)%></p>
			    </div>
			  </div>
			</div><!-- /.col-sm-4 -->
		</a>
	<% else %>
		<a href=<%= demand_path(demand) %> class="a_demand">	 
			<div class="col-sm-4">
			  <div class="panel panel-danger">
			    <div class="panel-heading">
			      <h3 class="panel-title">여자</h3>
			    </div>
			    <div class="panel-body">
			      <p>최대가격 : $<%= demand.price %></p>
			      <p>기간 : <%= demand.start_date.to_s.at(5..6)%>월 <%= demand.start_date.to_s.at(0..3)%> 
  						~<%= demand.finish_date.to_s.at(5..6)%>월 <%= demand.finish_date.to_s.at(0..3)%></p>
			    </div>
			  </div>
			</div><!-- /.col-sm-4 -->
		</a>
	<% end %>
<% end %>