<h1 align="center">전체 방 구하는 포스팅</h1>

<div id="main">
	
	<div class="inner">
		
		<section class="tiles">
			
		  <% @demands.each do |demand| %>
		  
  			<article>
  				
  				<a href=<%= demand_path(demand) %>>링크</a>
  					
  					<h2><%= demand.gender %><br>
  					     $<%= demand.price %><br>
  					</h2> <link rel="stylesheet" type="text/css" href="theme.css">
  					<div class="content">
  						<p>기간 : <%= demand.start_date.to_s.at(5..6)%>월 <%= demand.start_date.to_s.at(0..3)%> 
  						~<%= demand.finish_date.to_s.at(5..6)%>월 <%= demand.finish_date.to_s.at(0..3)%></p>
  					</div>
  				
  			</article>
      <% end %>
		</section>
		
	</div>
</div>