<% obj.each_slice(3) do |room| %>
  <div class="row">
       <% room.each do |room| %>
        <div class="col-md-4 room-item">
          <a href=<%= room_path(room) %> class="room-link" target="blank">
            <div class="well">
              <div class="thumbnail">
                <%= image_tag room.image.url(:medium), class:"img-custom", alt:"room image"%>
              </div>
              <div class='card-block'>
                <div class="card-price"> 
                  <span>$<%= room.price%></span>
                </div>
                <div class="card-private card-contents">
                  <%= room.room_private %>
                </div>
                <div class="card-duration card-contents">
                  <% start = room.start_date.to_s.split('-') %>
                  <% finish = room.finish_date.to_s.split('-') %>
                  <span><strong><%=start[0]%>년 <%= start[1]%>월 <%= start[2]%>일</strong> - <strong> <%= finish[0] if  start[0] != finish[0]%> <%= finish[1]%>월 <%= finish[2]%>일</strong></strong></span>
                </div>
              </div>
            </div>
          </a>
        </div>
    <%end%>     
  </div>
<% end %>

  