<%= render 'shared/errors', obj: @room %>

<script>
  $(".address").geocomplete();
</script>

<div class="row">
  <div class="col-xs-12" algin="center">
    <%= form_for(@room, :html => { multiplart: true, class:"form-horizontal", role:"form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2 col-xs-2">
        <%= f.label '주소' %>
      </div>
      <div class="col-xs-10">
        <%= f.text_field :address,class:"geocomplete address form-control",placeholder:"주소를 적어주세요. e.g. 2731 Haste", autofocus: true%>
      </div>

    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '사진' %>
      </div>
      <div class="col-md-2 col-xs-8">
        <%= file_field_tag "images[]", type: :file, multiple: true%>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '성별' %>
      </div>
      <div class="col-xs-5 btn-group" data-toggle="buttons">
        <label class="btn btn-custom">
          <%= radio_button("room","gender","남자")%> 남자  
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","gender","여자")%> 여자
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '기간' %>
      </div>
      <div class="col-md-3 col-md-offset-0 col-xs-offset-2 col-xs-9">
          <span>시작</span>
          <%= f.date_field :start_date, class:"form-control", autofocus: true%>
      </div>
      <div class="col-md-3 col-md-offset-0 col-xs-offset-2 col-xs-9">
          <span>종료</span>
          <%= f.date_field :finish_date, class:"form-control", autofocus: true%>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '가격' %>
      </div>
      <div class="col-xs-9">
        <div class="input-group">
          <span class="input-group-addon price-margin">$</span></span>
          <%= f.number_field :price, class:"form-control",placeholder:"월세", autofocus: true%>
          <span class="input-group-addon">$</span>
          <%= f.number_field :deposit, class:"form-control",placeholder:"보증금", autofocus: true%>
          <span class="input-group-addon">$</span>
          <%= f.number_field :utility, class:"form-control",placeholder:"유틸", autofocus: true%>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '주차공간' %>
      </div>
      <div class="col-xs-10 col-md-3 btn-group" data-toggle="buttons">
        <label class="btn btn-custom">
          <%= radio_button("room","parking",true)%>예
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","parking",false)%>아니오
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '종류' %>
      </div>
     <div class="col-md-4 col-xs-10 btn-group" data-toggle="buttons">
        <label class="btn btn-custom">
          <%= radio_button("room","room_private","혼자 쓰는 방")%> 혼자 쓰는방
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","room_private","나눠 쓰는 방")%> 나눠 쓰는방
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","room_private","집 전체")%> 집 전체
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '방' %>
      </div>
      <div class="col-xs-8 col-md-4 btn-group" data-toggle="buttons">
        <label class="btn btn-custom">
          <%= radio_button("room","room_type","스튜디오")%> Studio
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","room_type","1배드")%> 1 bed 
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","room_type","2배드")%> 2 bed
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '화장실'%>
      </div>
      <div class="col-xs-8 col-md-4 btn-group" data-toggle="buttons">
        <label class="btn btn-custom">
          <%= radio_button("room","bath","공용")%> 공용
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","room_type","개인용")%> 개인용
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '가구' %>
      </div>
      <div class="col-xs-8 col-md-4 btn-group" data-toggle="buttons">
        <label class="btn btn-custom">
          <%= radio_button("room","furnished",true)%>예
        </label>
        <label class="btn btn-custom">
          <%= radio_button("room","furnished",false)%>아니오
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-xs-2">
        <%= f.label '설명' %>
      </div>
      <div class="col-xs-8">
        <%= f.text_area :description, rows: 10, class:"form-control",placeholder:"방에 대한 간단한 정보를 적어주세요." %>
      </div>
    </div>
    <div class="form-group">
        <div class="control-label col-xs-2">
          <%= f.label '카테고리' %>
        </div>
        <div class=" col-xs-10">
          <div class="btn-group" data-toggle="buttons">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|%>
                <% cb.label(class:"checkbox-inline input_checkbox btn btn-custom"){cb.check_box(class:"checkbox")+cb.text} %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-4">
        <%= f.submit '작성완료', class: 'btn' %>
      </div>
      <div class="col-xs-offset-2">
        <%= link_to "방 목록으로 돌아가기", rooms_path, class:"btn btn-custom"%>
      </div>
    </div>
    <% end %>
  
  </div>
</div>

